.title {
  border-radius: 0.3vh;
  margin-bottom: 1vh;
  text-align: center;
  font-size: 3.2vh;
  left: 30vw;
  position: relative;
  color:#000000;
  background-color: rgb(210, 131, 255);
  border: solid rgb(0, 0, 0) 2px;
  }
  input[type="button"] {
  border-radius: 0.3vh;
  background-color:#d8aeff;
  color: black;
  left: 30vw;
  border-color:#000000 ;

  position: relative;
  width: 4vw;
  height: 4vh;
  font-size: 3vh;
  font-weight: 500;
  }
  input[type="text"] {
  border-radius: 0.3vh;
  position: relative;
  text-align: right;
  background-color:white;
  left: 30vw;
  border-color: solid rgb(0, 0, 0) ;
  width: 12.5vw;
  height: 4vh;
  }